<%- include('header.ejs') -%>
<% if action == "add" { %>
    <title>Add Accessory</title>
<% } else { %>
    <title>Edit Accessory</title>
<% } %>
</head>

<body id="app">
    <%- include('navbar.ejs') -%>
    <div class="upper-container">
        <% if action == "add" { %>
            <h1>Add Accessory</h1>
        <% } else { %>
            <h1>Edit Accessory - ID:<%= accessory.id %></h1>
        <% } %>
    </div>
    <div class="form-container">
        <% if action == "add" { %>
            <form action="/accessories" 
            method="post"
            enctype="multipart/form-data">
            <label>Accessory Name: <input type="text" 
                                    name="accessoryName" 
                                    id="accessoryName"> </label>
            <br><br>
            <label>Console ID: <input type="number" 
                                    name="consoleId"
                                    step="1" 
                                    id="consoleId"> </label>
            <br><br>
            <label>Model: <input type="text" 
                                    name="accessoryModel" 
                                    id="accessoryModel"> </label>
            <br><br>
            <label>Accessory Type: <input type="number" 
                                    name="accessoryType"
                                    step="1" 
                                    id="accessoryType"> </label>
            <br><br>
            <label>Release Date: <input type="date" 
                                    name="releaseDate" 
                                    id="releaseDate"> </label>
            <br><br>
            <label>Bought Date:  <input type="date" 
                                    name="boughtDate" 
                                    id="boughtDate"> </label>
            <br><br>
            <label>Company: <input type="text" 
                                    name="company" 
                                    id="company"> </label>
            <br><br>
            <label>Product Condition ID: <input type="number" 
                                    name="productCondition"
                                    step="1" 
                                    id="productCondition"> </label>
            <br><br>
            <label>Has Packaging? <input type="checkbox" 
                                    name="hasPackaging" 
                                    id="hasPackaging"> </label>
            <br><br>
            <label> Value (USD): <input type="number" 
                                    name="monetaryValue"
                                    step="0.01" 
                                    id="monetaryValue"> </label>
            <br><br>
            <label> Notes: <input type="text" 
                                    name="notes" 
                                    id="notes"> </label>
            <br><br>
            <button type="submit">Create</button>
        </form>
        <% } else { %>
            <form action="/editAccessory/<%= accessory.id %>" 
            method="post"
            enctype="multipart/form-data">
            <label>Accessory Name: <input type="text" 
                                    name="accessoryName" 
                                    id="accessoryName"
                                    value="<%=accessory.name%>"> </label>
            <br><br>
            <label>Console ID: <input type="number" 
                                    name="consoleId"
                                    step="1" 
                                    id="consoleId"
                                    value="<%=accessory.console_id%>"> </label>
            <br><br>
            <label>Model: <input type="text" 
                                    name="accessoryModel" 
                                    id="accessoryModel"
                                    value="<%=accessory.model%>"> </label>
            <br><br>
            <label>Accessory Type: <input type="number" 
                                    name="accessoryType"
                                    step="1" 
                                    id="accessoryType"
                                    value="<%=accessory.accessory_type%>"> </label>
            <br><br>
            <label>Release Date: <input type="date" 
                                    name="releaseDate" 
                                    id="releaseDate"
                                    value="<%=accessory.release_date%>"> </label>
            <br><br>
            <label>Bought Date:  <input type="date" 
                                    name="boughtDate" 
                                    id="boughtDate"
                                    value="<%=accessory.bought_date%>"> </label>
            <br><br>
            <label>Company: <input type="text" 
                                    name="company" 
                                    id="company"
                                    value="<%=accessory.company%>"> </label>
            <br><br>
            <label>Product Condition ID: <input type="number" 
                                    name="productCondition"
                                    step="1" 
                                    id="productCondition"
                                    value="<%=accessory.product_condition%>"> </label>
            <br><br>
            <label>Has Packaging? <input type="checkbox" 
                                    name="hasPackaging" 
                                    id="hasPackaging"
                                    value="<%=accessory.has_packaging%>"> </label>
            <br><br>
            <label> Value (USD): <input type="number" 
                                    name="monetaryValue"
                                    step="0.01" 
                                    id="monetaryValue"
                                    value="<%=accessory.monetary_value%>"> </label>
            <br><br>
            <label> Notes: <input type="text" 
                                    name="notes" 
                                    id="notes"
                                    value="<%=accessory.notes%>"> </label>
            <br><br>
            <button type="submit">Update</button>
        </form>
        <% } %>
        
    </div>
    <div class="lower-container">

    </div>
</body>
<%- include('footer.ejs') -%>