<%- include('header.ejs') -%>
    <% if (consoles.length === 0) { %>
        <title>No Console Found</title>
    <% } else { %>
        <title>Consoles - <%= consoles[0].name %></title>
    <% } %>
        
</head>
<body id="app">
    <div class="upper-container">
        <h1>Console Info</h1>
        <h3>Information about <%= consoles[0].name %></h3>
    </div>
    <div class="table-container">
        <% if (consoles.length === 0) { %>
            <h2>No Console To Display for id=<%= id %>.</h2>
        <% } else { %>
            <table>
                <tr class="table-header-row">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Console Type</th>
                    <th>Model</th>
                    <th>Region</th>
                    <th>Release Date</th>
                    <th>Bought Date</th>
                    <th>Company</th>
                    <th>Condition</th>
                    <th>Contains Packaging?</th>
                    <th>Is Duplicate?</th>
                    <th>With Cables?</th>
                    <th>With Console?</th>
                    <th>Value (USD)</th>
                    <th>Notes</th>
                </tr>
                <tr class="table-normal-row">
                    <td>
                        <%= consoles[0].id %>
                    </td>
                    <td>
                        <%= consoles[0].name %>
                    </td>
                    <td>
                        <%= consoles[0].console_type_string %>
                    </td>
                    <td>
                        <%= consoles[0].model !== null ? consoles[0].model : "N/A" %>
                    </td>
                    <td>
                        <%= consoles[0].region_string %>
                    </td>
                    <td>
                        <%= consoles[0].release_date !== null ? consoles[0].release_date : "N/A" %>
                    </td>
                    <td>
                        <%= consoles[0].bought_date !== null ? consoles[0].bought_date : "N/A" %>
                    </td>
                    <td>
                        <%= consoles[0].company !== null ? consoles[0].company : "N/A" %>
                    </td>
                    <td>
                        <%= consoles[0].condition_string %>
                    </td>
                    <td>
                        <%= consoles[0].has_packaging ? "Yes" : "No" %>
                    </td>
                    <td>
                        <%= consoles[0].is_duplicate ? "Yes" : "No" %>
                    </td>
                    <td>
                        <%= consoles[0].has_cables ? "Yes" : "No" %>
                    </td>
                    <td>
                        <%= consoles[0].has_console ? "Yes" : "No" %>
                    </td>
                    <td>
                        <%= consoles[0].monetary_value !== null ? consoles[0].monetary_value : "N/A" %>
                    </td>
                    <td>
                        <%= consoles[0].notes !== null ? consoles[0].notes : "N/A" %>
                    </td>
                </tr>
            </table>
        <% } %>
    </div>
    <div class="lower-container">

    </div>
</body>
<%- include('footer.ejs') -%>