<%- include('header.ejs') -%>
<title>Uploaded <%= object %> CSV</title>
</head>
<body id="app">
    <div class="upper-container">
        <h1>Uploaded <%= object %></h1>
    </div>
    <div class="info-container">
        <p>
            You have uploaded <%= rowsAdded %> lines to the DB.
        </p>
    </div>
</body>
<%- include('footer.ejs') -%>