<%- include('header.ejs') -%>
<title><%= object %> Deleted</title>
</head>
<body id="app">
    <%- include('navbar.ejs') -%>
    <div class="upper-container">
        <h1>Deleted</h1>
        <h3>Successfully Deleted <%= object %> With ID <%= idVal %></h3>
    </div>
</body>
<%- include('footer.ejs') -%>