<%- include('header.ejs') -%>
        <title>Collections - All Games</title>
    </head>

<body id="app">
    <%- include('navbar.ejs') -%>
    <div class="upper-container">
        <h1>Games</h1>
        <h3>Table of all video games in collection</h3>
    </div>
    <div class="table-container">
        <% if (games.length === 0) { %>
            <h2>No Games To Display.</h2>
            <h3>Please Add One.</h3>
        <% } else { %>
            <table>
                <tr class="table-header-row">
                    <th>ID</th>
                    <th>Console ID</th>
                    <th>Name</th>
                    <th>Edition</th>
                    <th>Release Date</th>
                    <th>Bought Date</th>
                    <th>Region</th>
                    <th>Developer</th>
                    <th>Publisher</th>
                    <th>Digital?</th>
                    <th>Has Game?</th>
                    <th>Has Manual?</th>
                    <th>Has Box?</th>
                    <th>Is Duplicate?</th>
                    <th>Condition</th>
                    <th>Value (USD)</th>
                    <th>Notes</th>
                    <th>Delete?</th>
                    <th>Edit?</th>
                </tr>
                <% for (var i = 0; i < games.length; i++) { %>
                    <tr class="table-normal-row">
                        <td>
                           <%= games[i].id %>
                        </td>
                        <td>
                            <%= games[i].console_id %>
                        </td>
                        <td>
                            <%= games[i].name %>
                        </td>
                        <td>
                            <%= games[i].edition !== null ? games[i].edition : "N/A" %>
                        </td>
                        <td>
                            <%= games[i].release_date !== null ? games[i].release_date : "N/A" %>
                        </td>
                        <td>
                            <%= games[i].bought_date !== null ? games[i].bought_date : "N/A" %>
                        </td>
                        <td>
                            <%= games[i].region_string %>
                        </td>
                        <td>
                            <%= games[i].developer !== null ? games[i].developer : "N/A" %>
                        </td>
                        <td>
                            <%= games[i].publisher !== null ? games[i].publisher : "N/A" %>
                        </td>
                        <td>
                            <%= games[i].digital ? "Yes" : "No" %>
                        </td>
                        <td>
                            <%= games[i].has_game ? "Yes" : "No" %>
                        </td>
                        <td>
                            <%= games[i].has_manual ? "Yes" : "No" %>
                        </td>
                        <td>
                            <%= games[i].has_box ? "Yes" : "No" %>
                        </td>
                        <td>
                            <%= games[i].is_duplicate ? "Yes" : "No" %>
                        </td>
                        <td>
                            <%= games[i].condition_string %>
                        </td>
                        <td>
                            <%= games[i].monetary_value !== null ? games[i].monetary_value : "N/A" %>
                        </td>
                        <td>
                            <%= games[i].notes !== null ? games[i].notes : "N/A" %>
                        </td>
                        <td>
                            <form action="/deleteGame" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="<%= games[i].id  %>">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action="/editGame/<%= games[i].id  %>" method="get" enctype="multipart/form-data">
                                <button type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
        <% } %>
    </div>
    <div class="lower-container">

    </div>
</body>
<%- include('footer.ejs') -%>