<%- include('header.ejs') -%>
    <% if (games.length === 0) { %>
        <title>No Game Found</title>
    <% } else { %>
        <title>Games - <%= games[0].name %></title>
    <% } %>
</head>

<body id="app">
    <%- include('navbar.ejs') -%>
    <div class="upper-container">
        <h1>Game Info</h1>
        <h3>Information about <%= games[0].name %></h3>
    </div>
    <div class="table-container">
        <% if (games.length === 0) { %>
            <h2>No Game To Display for id=<%= id %>.</h2>
        <% } else { %>
            <table>
                <tr class="table-header-row">
                    <th>ID</th>
                    <th>Console ID</th>
                    <th>Name</th>
                    <th>Edition</th>
                    <th>Release Date</th>
                    <th>Bought Date</th>
                    <th>Region</th>
                    <th>Developer</th>
                    <th>Publisher</th>
                    <th>Digital?</th>
                    <th>Has Game?</th>
                    <th>Has Manual?</th>
                    <th>Has Box?</th>
                    <th>Is Duplicate?</th>
                    <th>Condition</th>
                    <th>Value (USD)</th>
                    <th>Notes</th>
                    <th>Delete?</th>
                </tr>
                <tr class="table-normal-row">
                    <td>
                        <%= games[0].id %>
                    </td>
                    <td>
                        <%= games[0].console_id %>
                    </td>
                    <td>
                        <%= games[0].name %>
                    </td>
                    <td>
                        <%= games[0].edition !== null ? games[0].edition : "N/A" %>
                    </td>
                    <td>
                        <%= games[0].release_date !== null ? games[0].release_date : "N/A" %>
                    </td>
                    <td>
                        <%= games[0].bought_date !== null ? games[0].bought_date : "N/A" %>
                    </td>
                    <td>
                        <%= games[0].region_string %>
                    </td>
                    <td>
                        <%= games[0].developer !== null ? games[0].developer : "N/A" %>
                    </td>
                    <td>
                        <%= games[0].publisher !== null ? games[0].publisher : "N/A" %>
                    </td>
                    <td>
                        <%= games[0].digital ? "Yes" : "No" %>
                    </td>
                    <td>
                        <%= games[0].has_game ? "Yes" : "No" %>
                    </td>
                    <td>
                        <%= games[0].has_manual ? "Yes" : "No" %>
                    </td>
                <td>
                        <%= games[0].has_box ? "Yes" : "No" %>
                    </td>
                    <td>
                        <%= games[0].is_duplicate ? "Yes" : "No" %>
                    </td>
                    <td>
                        <%= games[0].condition_string %>
                    </td>
                    <td>
                        <%= games[0].monetary_value !== null ? games[0].monetary_value : "N/A" %>
                    </td>
                    <td>
                        <%= games[0].notes !== null ? games[0].notes : "N/A" %>
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </table>
        <% } %>
    </div>
    <div class="lower-container">
        <form action="/deleteGame" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%= games[0].id  %>">
            <button type="submit">Delete</button>
        </form>
        <form action="/editGame/<%= games[0].id  %>" method="get" enctype="multipart/form-data">
            <button type="submit">Edit</button>
        </form>
    </div>
</body>
<%- include('footer.ejs') -%>