<%- include('header.ejs') -%>
<title><%= object %> Not Found</title>
</head>
<body id="app">
    <%- include('navbar.ejs') -%>
    <div class="upper-container">
        <h1>Error</h1>
        <h3><%= object %> With ID <%= idVal %> Not Found</h3>
    </div>
</body>
<%- include('footer.ejs') -%>