<%- include('header.ejs') -%>
<title>Updated <%= object %> CSV</title>
</head>
<body id="app">
    <%- include('navbar.ejs') -%>
    <div class="upper-container">
        <h1>Updated <%= object %></h1>
    </div>
    <div class="info-container">
    </div>
</body>
<%- include('footer.ejs') -%>